.box{
    display: none;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: burlywood;
    padding: 10px;
    border: 6px solid darkred;
   margin: 10px;
}

.box:nth-child(2n + 3) { /* 3, 5, 7, ... */
background-color: gold;
}