:root {
    --color_primary-dark: #31261a;
    --color_primary-light: #faf4ea;
    --color_brand-normal: #819B57;
    --color_brand-dark: #465929;
    --color_brand-light: #cfcfbc;
    --color_secondary_dark: #A28268;
}